<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Carousel Template &middot; Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="span4 offset4">
            <div class="logo"><img src="/images/logo.png"/></div>
            <legend>會員登入</legend>
            <div class="alert alert-error hide">
              <a class="close" data-dismiss="alert" href="#">×</a>Incorrect Username or Password!
            </div>
            <form method="POST" action="" accept-charset="UTF-8">
              <input type="text" id="username" class="span4" name="username" placeholder="Username">
              <input type="password" id="password" class="span4" name="password" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox" name="remember" value="1"> 記住帳號密碼
              </label>
              <button type="submit" name="submit" class="btn btn-info btn-block">登入</button>
            </form>
          </div>
        </div>
    </div>
</body>
</html>